.calc {
  height: 410px;
  width: 300px;
  background: #000;
  margin: 5px auto;
  border: 1px solid black;
}

input{
 width: 87.3%;
 padding: 1.2rem;
 border: 0px;
}
button{
 margin: 5px 5px;
 padding: 20px;
 border-radius: 10px;
 width: 60px;
 margin-left: 5px;
}
.btn{
 margin-left: 10px;
}